.cell-container {
    height: 20px;
    width: 20px;
    border: 1px solid white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(20, 20px); 
}